*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffd1;
    width: fit-content;
    box-shadow: -57px 64px 42px -65px rgba(196,182,182,0.76);
    -webkit-box-shadow: -57px 64px 42px -65px rgba(196,182,182,0.76);
    -moz-box-shadow: -57px 64px 42px -65px rgba(196,182,182,0.76);
    border-radius: 10px;
    transition: 0.4s ease;
}

.first{
    background: linear-gradient(0deg,rgb(46, 43, 233),rgb(78, 33, 202), rgb(120, 87, 255));
    width: 250px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
}

.first h4{
    color:rgb(255, 255, 255);
    font-size: 11px;
    text-align: center;
    font-weight: 500;
}


h3{
    color:rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border: none;
    height: 40%;
    border-radius: 50%;
    background: linear-gradient(0deg, rgb(46, 43, 233), rgb(120, 87, 255));
}

.number .bold{
    font-size: 50px;
    padding: 2rem;
    color:rgb(255, 255, 255);
    font-weight: 800;
}

.number .thin{
    font-size: 11px;
    color: rgb(200, 199, 255);
    font-weight: 500;
    margin-top: 0px;
}

p{
    color: rgb(200, 199, 255);
    font-size: 9px;
    text-align: center;
}

.second{
    height: 320px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    font-size: 11px;
    gap: 1.2rem;
    border-radius: 0px 0px 10px  0px;
    border: none;
    background: none;
    box-shadow: 17px 19px 18px -20px rgba(196,182,182,0.76);
    -webkit-box-shadow: 17px 19px 18px -20px rgba(196,182,182,0.76);
    -moz-box-shadow: 17px 19px 18px -20px rgba(196,182,182,0.76);
}

.second h4{
    font-size: 13px;
    display: flex;
    text-align: left;
    margin-inline-end: 2rem
}

img{
    margin-right: 0.5rem;
}

.text{
    display: flex;
    align-items: center;
}

.text1{
    font-size: 13px;
    color:rgb(255, 87, 87);
}

.text2{
    font-size: 13px;
    color:rgb(255, 176, 31);
}

.text3{
    font-size: 13px;
    color: rgb(0, 189, 145);
}

.text4{
    font-size: 13px;
    color: rgb(17, 37, 212);
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    border-radius: 5px;
}

.result1{
    background-color: rgb(249, 231, 231);
}

.result2{
    background-color:rgb(253, 236, 205);
}

.result3{
    background-color: rgb(191, 244, 232);
}

.result4{
    background-color: rgb(195, 200, 248);
}

.second h4{
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

b{
    font-weight: 700;
}

.fade{
    font-weight: 500;
    color: rgb(87, 90, 48);
}

button{
    width: 100%;
    border-radius: 14px;
    padding: 0.7rem;
    background-color:rgb(48, 59, 90);
    color:rgb(255, 255, 255);
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: rgb(236, 226, 84);
    color:rgb(87, 90, 48);
    transition: 0.2s ease;
    transform: scale(1.1);
}

button:active{
    background-color: deepskyblue;
    color: #fff;
    transform: scale(1.2);
    transition: 0.2s;
}

@media screen and (max-width: 768px){
    .container{
        height: 100%;
        width: 100vw;
        display: flex;;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        background-color: #fff;
        width: 100vw;
        padding-bottom: 80px;
        margin: 0 auto;
        transition: 0.2s ease;
        padding-top: -3px;
        padding-bottom: 20px;
    }

    .first{
        background: linear-gradient(0deg,rgb(46, 43, 233),rgb(78, 33, 202), rgb(120, 87, 255));
        width: 100vw;
        height: 50vh;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 0px 0px 15px 15px;
    }

    .second{
        height: fit-content;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2rem;
        margin-bottom: 20px;
        font-size: 11px;
        gap: 1.2rem;
        border: none;
        background: none;
    }

    .number{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        height: 50%;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(46, 43, 233), rgb(120, 87, 255));
    }

    body{
        font-size: 18px;
        max-width: min-content;
        min-height: 100vh;
    }
}

@media screen and (max-width: 375px){
    .container{
        width: 100%;
        height: fit-content;
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 15px 15px 0px 0px;
        background-color: #fff;
        transition: 0.2s ease;
        margin: 0 auto;
        padding-top: -3px;
        padding-bottom: 20px;
    }

    .first{
        background: linear-gradient(0deg,rgb(46, 43, 233),rgb(78, 33, 202), rgb(120, 87, 255));
        width: 100vw;
        height: fit-content;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 15px;
    }

    .second{
        height: fit-content;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2rem;
        font-size: 11px;
        gap: 1.2rem;
        border: none;
        background: none;
    }

    .number{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: linear-gradient(0deg, rgb(46, 43, 233), rgb(120, 87, 255));
    }


    body{
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Hanken Grotesk', sans-serif;
    }

}